
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  color: #1F1F1F;
  background:rgba(0,0,0,0);
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font: {
      size: 16px;
    family: "roboto", "Source Sans Pro", "sans-serif" !important;
  }
}

div,
a,
img {
  box-sizing: border-box;
  text-decoration: none;
}

.tbutton {
  display: inline-block;
  text-decoration: none;
  font { 
      size: 18px;
      weight: bold;
  }
	text-align: center;
  padding: 10px 28px;
  
  border-radius: 10px;
  letter-spacing: .5px;
  transition: .3s;
	line-height: 1.5;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	&:hover {
        @include transform(translateY(-2px));
      }
      &:active {
        @include transform(translateY(2px));
      
      }
}




@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animation($str) {
	animation: #{$str};
  }

@include keyframes(twinkle) {
	from{
		opacity:1;
  }
  50%{
    opacity:.7;
  }
	to {
		opacity:1;
	}
}


.starwrap_out{
    width:100%; 
    height:100%; 
    overflow:hidden; 
    position:absolute;
    z-index:-999;
}
.starwrap_in{position: relative; 
    width:calc(100% + 24px); 
    background:linear-gradient(#000,#10162B); 
    height:550px; 
    top:-130px; 
    left:10px; 
    overflow:hidden;
    @include transform(rotate(-5deg)); 
    border-bottom-left-radius:20px;
   
}
.star_opac_wrap{
  @include animation('twinkle infinite forwards');
}
.stars{
    background:#C1DCEA; 
    width:6px; 
    height:6px;
    position:absolute;
    @include transform(rotate(45deg));
    border:1px solid #2A4A86;
    transition:.8s;
    &:hover{
        width:8px;
        height:8px;
    }
}


/*header*/

.headerwrap {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.header {
  position: relative;
  max-width: 100%;
  width: 1010px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: 10px;
  top: 16px;
  background{
    image: url('./images/younglogo.svg');
    repeat: none;
    size: 201.3px 60px;
    position: 0 0;
  }
  opacity: .8;
  width: 100.6px;
  height: 60px;
  z-index: 999;
}

.menu-wrap {
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 1;
}
.active{
    .menudot{
        opacity:.3;
    }
}
.menudot{
    width:28px;
    height:28px;
    background:#fff;
    border:4px solid rgb(187, 211, 255);
    border-radius:15px; 
    position:absolute; 
    left:50%;
    top:50%;
    @include transform(translateX(-50%) translateY(-50%)); 
    z-index:-1;
    opacity:0;
    transition:.3s;
}

.menu {
  width: 100%;
  font-family: "roboto", "sans-serif";
  letter-spacing: .2px;
  li {
    margin: 0px;
    list-style: none;
    height: 39px;
    display: inline-block;
    position: relative;
    &:hover{
        .menudot{
            opacity:.3;
        }
    }
    a {
        color: #afafaf;
        transition: .3s;
        padding: 8px 20px;
        margin: 0 1px;
        display: inline-block;
        transition: .3s;
        &:hover {
            text-decoration: none;
            color:rgb(133, 245, 255);
            font-weight:600;
          }
        cursor: pointer;
      }
  }

}

.activemenu {
  color: rgb(133, 245, 255) !important;
	font-weight:bold;
	z-index:999;
}

#work{
	width:78px;
}
#FA{
width:102px;
}
#contact{
	width:149px;
}

@media screen and (min-width:800px) {
  .menu {
      li {

      .sub-menu {
    position: absolute;
    opacity: 0;
      }
      &:hover{
          .sub-menu {
        z-index: 1;
        opacity: 1;
          }
      }
      &:active{
           .sub-menu {
        z-index: 1;
        opacity: 1;
      }
    }
    }
  }
}


@media screen and (max-width: 800px) {
	.tbutton{
	width:100%;
		font-size:16px;
	}
	
  #nav-icon {
    margin: 22px 10px 10px;
    display: block;
    position: absolute;
    width: 38px;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999;
    span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: #9aaeb9;
        border-radius: 3px;
        opacity: 1;
        right: 0;
        transition: .25s ease-in-out;
      
        &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 12px;
          }
          &:nth-child(4) {
            top: 24px;
          }
        }
        &.open{
             span{
               background:#06070f;

              &:nth-child(1) {
            top: 18px;
            width: 0%;
            right: 50%;
          }
          &:nth-child(2) {
            @include transform(rotate(45deg));
          }
          &:nth-child(3) {
            @include transform(rotate(-45deg));

          }
        &:nth-child(4) {
            top: 18px;
            width: 0%;
            right: 50%;
        }
        }
    }
  }
  .menudot{
    background:#091d4e;
    border:4px solid #000;
  }
  .menu-wrap {
    width: 100%;
    height: 0;
    right:0;
    text-align:center;
    overflow: hidden;
    background: rgba(154, 174, 185, .85);
    transition: .5s ease-in-out;
    &.open {

        height: 300px;
      }
    
  }
  .menu {
    margin: 0 auto;
    ul{
      margin: 56px 0 0;
      -webkit-padding-start: 0;
      width: 100%;
      li{
        width: 100%;
    display: block;
    height: 46px;
    text-align: center;

    .menua{
      width: 90%;
      color:#06070f;
      font-weight:500;
      text-shadow: 0 0 6px rgba(255,255,255,.6);
    }
      }
    }
  }
  #work,#fun,#FA,#contact{
    width:100%;
  }
}


/*sectop*/

.sectopwrapper {
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.sectop {
  position: absolute;
  overflow: hidden;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#f9c1d0, #bce6fb, #fff);
}

.logobox {
  width: 100%;
  position: relative;
  top: 0;
  margin: 0px auto;
}

.logowrap {
  position: relative;
  width: 240px;
  height: 72px;
  overflow: hidden;
  margin: 50px auto 60px;
}

#ylogo {
  width: 480px;
  position: absolute;
  left: 0;
}

.works {
  position: relative;
  margin-top: 10%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.worksbutton {
  text-align: center;
  font: {
      family: 'roboto';
        weight: 500;
        size:15px;
  }
  cursor: pointer;
  margin: 0px 4px;
	padding:1px 12px;
  display: inline-block;
  text-align: center;
  transition: .3s;
	border: 2px solid #325F8D;
	color:#325F8D;
	border-radius:16px;
    &:hover {
        font-weight: 500;
        color: #fff;
          background-color:#325F8D;
          border:1px solid #325F8D;
        opacity:.7;
          cursor:pointer;
      }
}

.workactive {
    padding:3px 14px;
  font-weight: 500;
	background-color:#325F8D;
	border:1px solid #325F8D;
  color: #fff;
  &:hover{
    font-weight: 500;
    color: #fff;
      background-color:#7c7c7c;
      border:1px solid #7c7c7c;
    opacity:.7;
      cursor:pointer;
  }
}
.worktypes {
  font-size: 18px;
  color: #485968;
  margin: 0 auto 46px;
  text-align: center;
}
.onlysmaller {
  display: none;
}

.workbox {
  min-height: 440px;
  width:100%;
  .funwork, .fa{
    display: inline-block;
    margin: 3% 1%;
    transition: .4s;
  }
  .funwork{
    width:31%;
  }
  .fa{
    width:23%;
    .portwrap{
      max-width:250px;
      max-height:250px;
      .longim{
        object-fit: cover;
        max-height:120%;
    }
    img{
      opacity:1;
    }
    &:hover{
    img {
      opacity: 1;
    }
  }
    }
  }
  .main_work {
    display: inline-block;
    width: 46%;
    margin: 3% 2%;
    transition: .4s;
    &:hover {
        text-transform: none;
      }
      .portwrap{
        max-width:500px;
        max-height:500px;
        transition:.4s;
      }
      
  }
  .hidden{
    opacity:0;
    width:0 !important;
    margin:0 !important;
    overflow:hidden;
  }
}

.portwrap {
  background: #000;
  max-width: 300px;
  max-height: 300px;
  height: 30vw;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: #525461;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    @include transform(translateY(-4px));

  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    object-fit: cover;
  }

  .discrip {
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform( translateX(-50%) translateY(-50%));
    font: {
        size: 24px;
        weight: bold;
    }
    letter-spacing: .5px;
    line-height: 1.5;
    color: #fff;
    opacity: 1;
    text-shadow: 0 0 6px rgba(0,0,0,0.6);
  }
  img{
    opacity:.4;
  }
  &:hover{
       .discrip {
    opacity: 0;
  }
  img {
    opacity: 1;
  }
}
}

.hiim {
  max-width: 100%;
}

.longim {
  width: auto;
  max-height: 100%;
}

.wideim {
  width: 100%;
  height: auto;
}

.portimgs {
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin: 10px;
  position: relative;
  border-radius: 8px;
}



.discrip {.types {
  font: {
      weight: 300;
    size: 18px;
  }
}
}
.discripsmaller {
  width: 100%;
  margin: 10px 0 18px;
  letter-spacing: .2px;
  font: {
      size: 16px;
   weight: bold;
  }
  color: #2e3744;
  position: relative;
  text-align: center;
  display: none;
.types {
  font: {weight: 500;
  size: 14px;
  }
}
}
.portimgs{ img {
  width: 500px;
  margin-left: -80px;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}
}

.cprg {
  width: 100%;
  margin-top:150px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
	line-height:1.5;
}


/*about*/
.myphoto{
    width:95%;
    max-width:300px;
    border-radius:160px;
    margin:0 auto;
    display:block;
}
.iconwrap{
    text-align:center;
    margin-top:20px;
    font: {
        family:"roboto";
        weight:500;
        size:18px;
    }
    
  

    a{
        width:40px;
        margin:10px;
        margin-top:30px;
    }
    .title{  line-height:2;
        font-size:24px;
        font-weight:300;
        text-decoration: underline;
    }
}
.icons{
    width:40px;
    height:40px;
    
    position:relative;
    display: inline-block;
    img{
        transition:.3s;
        position:absolute;
        top:0;
        left:0;

    }
    :nth-child(2){
        opacity:1;
        &:hover{
            opacity:0;
        }
    }
}

@media screen and (max-width: 736px) {
  html,
  body {
    font-size: 16px;
  }


.starwrap_in{position: relative; 
  width:calc(150%); 
  background:linear-gradient(#000,#10162B); 
  height:550px; 
  top:-130px; 
  left:-25%; 
  overflow:hidden;
  @include transform(rotate(-5deg)); 
  border-bottom-left-radius:20px;
 
}
	.logowrap{
		margin-bottom:38px;
	}
  .workbox {
   .main_work, .funwork, .fa{
     width:95%;
     height:30vh;
     text-align:center;
     margin-bottom:90px;
  .portwrap {
    max-width:400px;
    box-sizing: border-box;
    margin:0 auto;
    width: 100%;
    height: 100%;
   
    .longim{
      width:100%;
      max-height:auto;
      opacity:1;
      
    }
    .discrip {
        opacity:0;
      }
  }

  &#up{
    .longim{
      width:auto;
    max-height:100%;
    }
  }
}
.fa{
  margin-bottom:50px;
}
  }

 
  &.main_work{
    width:95%;
    height:40vw;
    display:block;
    margin:0 auto;
    margin-bottom:50px;
    .portwrap{
      max-height:300px;
    }
  }
  .discripsmaller {
    display: block;
  }
  .onlysmaller {
    display: block;
    font-size: 8px;
  }
  .onlybigger {
    display: none;
  }
  
  .secmid {
    width: 100%;
    max-width: 420px;
    text-align: center;
  }
  .paintingport {
    font-size: 16px;
  }
  .secmid img {
    margin-bottom: 60px;
  }
  .worksbutton{
      margin-bottom:10px;
  }

}
